
$moonColor: radial-gradient(circle, rgb(224, 224, 224), rgb(177, 177, 177));
$skyColor: linear-gradient(0deg, rgb(24, 138, 208), rgb(6, 12, 64));
$trunkColor: linear-gradient(167.17121712854458deg, rgba(44, 33, 33,1) -3.4898477157360333%,rgba(106, 61, 64,1) 81.95854483925551%);
$snowColor:linear-gradient(107.04636576288681deg, rgba(233, 255, 247,1) 15.387500000000003%,rgba(213, 245, 253,1) 80.88749999999999%);
